<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="review-username">
        <%= truncate(room.title, length: 100) %>
      </div>
      <div class="review-body">
        <%= truncate(room.description, length: 100) %>
      </div>
      <div class="review-price">
        <%= truncate(room.price, length: 100) %>
      </div>
      <% @room_photos.each do |p| %>
        <%= image_tag p.photo_url %>
      <% end %>
    </div>
  </div>
</div>