<h1>Editing booking</h1>

<%= render "form", booking: @booking, room_id: @booking.room_id %>

<br>

<div>
  <%= link_to "Open booking", @booking %> |
  <%= link_to "Back to other bookings", bookings_path %>
</div>