<% if user_signed_in? %>
    <div>
      <h3>Welcome, admin!</h3>
    </div>
<% else %>
  <h1>Welcome to "Noveo" Hotel!</h1>
  <h2>Choose your rooms or read reviews from other guests</h2>

  <%= render 'shared/rates' %>

  <div>
    <hr />
    <% @hotel_rooms_photo.each do |photo| %>
      <%= link_to image_tag(photo, style:"width:200px; height:200px"), photo %>
    <% end %>
  </div>
<% end %>