<h1>Welcome to "Noveo" Hotel!</h1>
<h2>Chose your rooms or read reviews from other guests</h2>

<%= render "shared/rates" %>

<div>
  <hr />
  <% @room&.room_photos&.each do |photo| %>
    <%= link_to image_tag(photo, style:"width:200px; height:200px"), photo %>
  <% end %>
</div>