<div>
  <p>
    <strong>Username:</strong>
    <%= review.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= review.email %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= review.description %>
  </p>
</div>