<div class="row">
  <div class="col-xs-8">
    <div class="well well-lg">
      <div class="review-title">
        <p>
          <strong>Username:</strong>
          <%= review.username %>
        </p>
      </div>
      <div class="review-title">
        <p>
          <strong>Email:</strong>
          <%= review.email %>
        </p>
      </div>
      <div class="review-body">
        <%= review.description %>
      </div>
    </div>
  </div>
</div>
