<%= 'No review at all' if @reviews.empty? %>
<% @reviews.each do |review| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="review-username">
          <%= truncate(review.username, length: 100) %>
        </div>
        <div class="review-email">
          <%= truncate(review.email, length: 100) %>
        </div>
        <div class="review-body">
          <%= truncate(review.description, length: 100) %>
        </div>
      </div>
    </div>
  </div>
<% end %>