<%= 'No review at all' if @reviews.empty? %>

<% @reviews.each do |review| %>
  <div class="well well-lg">
    <% if review.published %>
    <%= render review %>
      <p>
        <%= link_to "Open review", review %>
      </p>
      <% end %>
  </div>
<% end %>